{
    "classes_path": "model/obj.names",
    "cfg_path": "model/yolov3-rps.cfg",
    "weights_path": "model/yolov3-rps.weights",
    "inpWidth": 416,
    "inpHeight": 416,
    "scale": 0.00392,
    "mean": [0, 0, 0],
    "confThreshold": 0.5,
    "nmsThreshold": 0.4,
    "circle_scale": 0.65,
    "wait_interval": 0.6,
    "labelbox_key": null,
    "labelbox_dataset": null,
    "corrections_path": "pictures"
}
